/* ===========about========= */

body {
    overflow-x: hidden;
}

.about {
    margin-top: 63px;
    // overflow-x: hidden;
    // overflow-x: hidden;
}

// .about-line {
//     // display: flex;
//     // flex-direction: column;
//     @media(max-width: $desk-bp-min) {
//         // display: none;
//         // display: flex;
//         // flex-direction: column;
//     }
// }
.about-block_container {
    display: flex;
}

.about-img-block {
    display: flex;
    flex-direction: column;
    position: relative;
    // width: 100%;
    flex-grow: 1;
    min-width: 100px;
    // object-fit: cover;
    // object-position: center;
    // @media(max-width: $desk-bp-max) {
    //     min-width: 100px;
    // }
}

.about-img {
    flex: 1;
    // height: auto;
    object-fit: cover;
    object-position: center;
}

.one {
    margin: -4px -1px 0px -1px;

    @media(max-width: $mobile-bp) {
        margin-top: -1px;
    }
}

.text-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.photo-block {
    // flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    min-width: 33%;
    object-fit: cover;
    object-position: center;
    position: relative;

    @media(max-width: $mobile-bp) {
        width: 100%;
    }
}

.shot-img {
    min-height: 82.05%;
    position: absolute;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @media(max-width: $tablet-bp-max) {
        min-height: 82.45%;
    }

    @media(max-width: $mobile-bp) {
        position: static;
    }
}

.text-block-img {
    position: absolute;
    bottom: -5px;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @media(max-width: $mobile-bp) {
        bottom: -1px;
    }
}

.second {
    margin-top: -7px;

    @media(max-width: $mobile-bp) {
        margin-top: -4px;
    }
}

// -----------------------------------------------------------------------------
.about-line_three {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    width: 100%;
    // margin-top: -2px;
    background-color: #FFFFFF;
    z-index: 20;
}

.line_three-text {
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
    width: 42%;
    z-index: 1;
    position: absolute;
    height: 31px;
    left: 21%;
    top: 68%;

    @media(max-width: $tablet-bp-max) {
        font-size: 24px;
    }

    @media(max-width: $mobile-bp) {
        font-size: 24px;
        width: 100%;
        left: 0px;
        top: 85%;
    }
}

@media(max-width: $mobile-bp) {
    .about-line_three {
        position: relative;

        // height: 100vh;
        .img1 {
            width: 100%;
            object-fit: cover;
            object-position: center;
            // height: 100vh;
        }

        .img2 {
            position: absolute;
            // z-index: 1;
            top: 38px;
            max-width: 257px;
        }

        .img3 {
            position: absolute;
            z-index: 1;
            top: 59px;
            left: 64px;
            max-width: 193px;
        }
    }
}

.line-three-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.photo1 {
    width: 40%;
    margin-left: 20px;

    @media(max-width: $mobile-bp) {
        width: auto;
        margin-left: 0px;
    }
}

.photo2 {
    margin-left: 63px;
    margin-top: 73px;
    width: 23%;

    @media(max-width: $mobile-bp) {
        width: auto;
        margin: 0;
        opacity: 0;
        transition: all 0.3s ease 0s;
    }
}

.photo3 {
    margin-top: 88px;
    width: 20%;

    @media(max-width: $mobile-bp) {
        width: auto;
        margin: 0;
        opacity: 0;
        transition: all 0.1s ease 0s;
    }
}

.photo2._active-img {
    opacity: 1;
}

.photo3._active-img {
    opacity: 1;
}

// ===================
.four {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: -3px;
    z-index: 25;

    @media(max-width: $tablet-bp-max) {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .four-1 {
        left: 1px;

        @media(max-width: $tablet-bp-max) {
            // margin-left: 1px;
            grid-area: 1 / 1 / 2 / 2;
        }
    }

    .four-2 {

        // left: 1px;
        @media(max-width: $tablet-bp-max) {
            margin-left: -1px;
            grid-area: 1 / 2 / 2 / 3;
        }
    }

    .four-3 {

        // left: 1px;
        @media(max-width: $tablet-bp-max) {
            margin-left: 1px;
            grid-area: 2 / 1 / 3 / 2;
        }
    }

    .four-4 {
        right: 1px;

        @media(max-width: $tablet-bp-max) {
            grid-area: 2 / 2 / 3 / 3;
        }
    }
}

.about-line-block {
    display: flex;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @media(max-width: $tablet-bp-max) {
        display: flex;
        flex-direction: row;
    }
}

.line_four-text_block {
    display: flex;

    @media(max-width: $tablet-bp-max) {
        display: none;
    }
}

.line_four-text_block-tab {
    display: none;

    @media(max-width: $tablet-bp-max) {
        display: flex;
    }
}

.line_four-text {
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;

    @media(max-width: $tablet-bp-max) {
        bottom: 50%;
        margin-bottom: -2px;
    }

    @media(max-width: $mobile-bp) {
        bottom: 50%;
        margin-bottom: -1px;
    }
}

.text-block_about {
    height: 435px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $black;

    @media(max-width: $tablet-bp-max) {
        height: 180px;
    }

    @media(max-width: $mobile-bp) {
        height: 180px;
    }
}

.text-block_title {
    margin: 0 auto;
    width: 674px;

    @media(max-width: $desk-bp-min) {
        width: 462px;
    }

    @media(max-width: $mobile-bp) {
        width: 100%
    }
}

.text-betweenlines-desck {
    margin: 1px 0px 0px -3px;

    @media(max-width: $mobile-bp) {
        display: none;
    }
}

.text-betweenlines-mob {
    display: none;

    @media(max-width: $mobile-bp) {
        display: block;
    }
}

.last {
    margin-top: -4px;

    @media(max-width: $mobile-bp) {
        position: relative;
    }

    .text-on-the-photo_mob {
        display: none;

        @media(max-width: $mobile-bp) {
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            right: 0;
            z-index: 1;
            width: 100%;
            // margin-bottom: -3px;
        }
    }
}

// .block-none_mob {
//     @media(max-width: $mobile-bp) {
//         display: none;
//     }
// }
// ----------