// --------------form------------
.form-page {
    margin-top: 64px;
    display: flex;
    background-color: $white;
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;

    @media(max-width: $tablet-bp-max) {
        border: none;
    }

    @media(max-width: $mobile-bp) {
        border-top: 1px solid $black;
    }
}

.form-container {
    display: flex;

    @media(max-width: $tablet-bp-max) {
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid $black;
    }
}

.left-block_form {
    grid-area: 2 / 1 / 3 / 2;
    width: 50vw;

    @media(max-width: $tablet-bp-max) {
        width: 100%;
    }

    @media(max-width: $mobile-bp) {
        border-bottom: 1px solid $black;
    }
}

.form-img_block {
    display: flex;
    margin-top: 120px;

    @media(min-width: $desk-bp-min) {
        margin-top: 0px;
    }

    @media(max-width: $tablet-bp-max) {
        margin-top: 0px;
    }
}

.right-block_form {
    grid-area: 2 / 2 / 3 / 3;
    width: 50vw;
    border-left: 1px solid $black;

    // margin: 30px 0px 30px 30px;
    @media(max-width: $tablet-bp-max) {
        width: 100%;
    }
}

.wrapper-form {
    margin: 30px 0px 30px 30px;

    @media(max-width: $tablet-bp-max) {
        margin: 30px 20px;
    }
}

.form-img {
    width: 100%;
    display: flex;
    align-items: center;
    object-fit: cover;
    object-position: center;
    /* min-height: -webkit-fill-available; */
    height: 100%;

    @media(max-width: $tablet-bp-max) {
        display: none;
    }

    @media(max-width: $mobile-bp) {
        display: block;
    }
}

.form-img_tab {
    display: none;

    @media(max-width: $tablet-bp-max) {
        display: block;
        width: 100%;
    }

    @media(max-width: $mobile-bp) {
        display: none;
    }
}

.text-form_top {
    margin-bottom: 67px;
}

.form {
    width: 450px;

    @media(max-width: $tablet-bp-max) {
        width: 100%;
    }

    // margin: 0px auto;
}

.form * {
    outline: none;
}

.form__body {
    position: relative;
}

.form__body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url("../img/form/loading-gif.gif") center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}

.form__title {
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
    margin: 0px 0px 25px 0px;
}

.form__text {
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: $black;
    display: flex;
    align-items: center;
    margin: 0px 0px 40px 0px;
}

.form__titl-fill {
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 30px;
}

.form__item {
    margin: 0px 0px 35px 0px;
}

.form__label {
    display: block;
}

.form__input {
    border: none;
    border-bottom: 1px solid $black;
    width: 100%;
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: $black;
    background-color: $white;
    transition: all 0.5s ease 0s;
}

.form__input::placeholder {
    color: $smoky;
    /* Колір тексту плейсхолдера */
}

.form__input-massage {
    border: 1px solid $black;
    width: calc(100% - 30px);
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: $black;
    background-color: $white;
    transition: all 0.5s ease 0s;
}

.form__input-massage::placeholder {
    color: $smoky;
    /* Колір тексту плейсхолдера */
}

textarea.form__input-massage {
    min-height: 85px;
    resize: vertical;
    padding: 10px 15px;
}

// .form__input:active {
//     box-shadow: 0 0 15px $smoky;
// }
.form__input._error {
    box-shadow: 0 0 15px red;
}

.form__row2 {
    display: flex;
    justify-content: space-between;
}

.row2 {
    // min-width: 210px;
    width: calc(100% / 2 - 30px);
}

.row3 {
    // min-width: 210px;
    width: calc(100% / 3 - 30px);
}

.form__row3 {
    display: flex;
    justify-content: space-between;
    // gap: 30px;
    // min-width: calc(100% / 3);
}

// .file {
//     display: flex;
//     gap: 5px;
// }
// .file__item {
//     display: inline-flex;
//     align-items: center;
//     font-size: 16px;
// }
// .file__input {
//     display: none;
// }
// .file__button-border {
//     flex: 0 0 28px;
//     height: 28px;
//     background-color: #000000;
//     border-radius: 50%;
// }
// .file__button {
//     color: #FFFFFF;
//     margin: 6px 0px 0px 9px;
//     font-size: 16px;
// }
// .form__button {
//     width: 206px;
//     height: 52px;
//     border: 1px solid #000000;
//     border-radius: 14px;
//     font-family: 'Arial Narrow';
//     font-size: 20px;
//     text-transform: uppercase;
//     background-color: #F8F6F2;
// }
// ----------------------------------
.file {
    display: flex;
    gap: 15px;
}

.file__item {
    position: relative;
    transition: all 0.3s ease;
    height: 40px;
}

.file__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}

.file__button-plus {
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    justify-content: center;
    background-color: #000000;
    padding: 6px;
}

.file__preview {
    display: none;
    width: 100%;
    transition: all 0.3s ease;
    position: absolute;
    left: -100px;
    top: 20px;
    z-index: 10;

    @media(max-width: $tablet-bp-max) {
        left: 0px;
        top: 20px;
    }
}

.file__preview img {
    // width: 100%;
    max-width: 100px;
    max-height: 150px;
    border: 1px solid $black;
    // display: none;
}

.file__item:hover .file__preview {
    display: inline-block;
    transition: all 0.3s ease;
}

// .file__button-plus:hover .file__preview {
//     display: inline-block;
// }
// .file {
//     display: flex;
//     gap: 7.5px;
// }
// .file__item {
//     position: relative;
// }
// .file__input {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 0;
//     font-size: 0;
//     cursor: pointer;
// }
// .file__button-plus {
//     // display: none;
//     display: flex;
//     width: 28px;
//     height: 28px;
//     border-radius: 50%;
//     justify-content: center;
//     background-color: #000000;
//     padding: 6px;
// }
// // .file__button-minus {
// //     display: flex;
// //     display: none;
// //     width: 28px;
// //     height: 28px;
// //     border-radius: 50%;
// //     justify-content: center;
// //     background-color: #000000;
// //     padding: 6px;
// // }
// .file__preview {
//     display: inline-block;
//     max-width: 100px;
// }
// .file__preview img {
//     max-width: 100%;
//     // display: none;
// }
.form__button {
    width: 100%;
    height: 45px;
    border: 1px solid #000000;
    font-family: 'TT Norms Pro';
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: $white;
    background-color: $black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form__button:hover {
    color: $black;
    background-color: $white;
}

// -------------------------