/* ==========main============= */

// .main {
//     margin-top: 72px;
// }
// .main-img {
//     flex: 1;
//     height: auto;
//     object-fit: cover;
//     object-position: center;
// }
// .block-img {
//     display: flex;
// }
// .card-model {
//     display: flex;
//     justify-content: space-around;
//     /* background-image: url("../img/main/img-card-1.png"); */
//     width: 504px;
//     height: 745px;
// }

/* ----models card img */


/* .card-one {
    background-image: url("../img/main/img-card-1.png");
}

.card-two {
    background-image: url("../img/main/img-card-2.png");
}

.card-three {
    background-image: url("../img/main/img-card-3.png");
    border-right: 1px solid #000000;
}

.card-four {
    background-image: url("../img/main/img-card-4.png");
}

.card-five {
    background-image: url("../img/main/img-card-2.png");
}

.card-six {
    background-image: url("../img/main/img-card-6.png");
} */


/* ------------------- */

// .models-info {
//     display: flex;
//     justify-content: space-around;
//     align-items: flex-end;
//     padding-bottom: 16px;
// }