// ==================model page================
.model-page {
    overflow-x: hidden;
    margin: 65px 0px 0px;
    border-bottom: 1px solid $black;
}

.inform-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    max-height: 840px;

    @media(max-width: $tablet-bp-max) {
        flex-direction: column;
        max-height: 1560px;
    }
}

// --------------------------
.inform-about_model {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    @media(max-width: $tablet-bp-max) {
        order: 2;
    }
}

.my-name {
    font-family: 'MS Mincho';
    font-size: 25px;
    color: $black;
    text-transform: uppercase;
}

.about-me {
    margin: 20px 0px 40px;
    font-family: 'Arial Narrow';
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    max-width: 290px;
}

.my-social_media {
    margin-bottom: 26px;
}

.my-social_list {
    display: flex;
    gap: 15px;

    @media(max-width: $tablet-bp-max) {
        flex-direction: column;
    }
}

.my-social_item {
    color: $black;
    text-decoration: none;
    padding: 4px;
    border: 1px solid $black;
    border-radius: 40px;
    font-family: 'TT Norms Pro';
    font-size: 16px;
    background: $white;

    @media(max-width: $tablet-bp-max) {
        display: flex;
        width: 200px;
        height: 35px;
        justify-content: center;
        align-items: center;
    }
}

.my-social_item:hover {
    background: $black;
    color: $white;
    transition: all 0.3s ease;
}

.my-agency {
    font-family: 'TT Norms Pro';
    font-size: 16px;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 36px;
}

.my-agency_list {
    display: flex;
    gap: 30px;
}

.country-block {
    display: flex;
    gap: 10px;
    align-items: center;
}

// -----------------------
.model-page_photo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-width: 33%;
    // max-height: 550px;
    min-width: 268px;
    height: 820px;
    overflow: scroll;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: pointer;
    overflow-x: hidden;

    @media(max-width: $tablet-bp-max) {
        order: 1;
        width: 50%;
        // text-align: center;
        // max-height: 740px;
    }
}

.model-page_photo::-webkit-scrollbar {
    display: none;
}

.models-scrol_img {
    // width: 100%;
    width: 535px;
    margin-bottom: 60px;
    // max-height: 700px;
}

// -------------------
.inform-parameters-model {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: $tablet-bp-max) {
        order: 3;
        margin-bottom: 100px;
    }
}

.row-models {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 15px;
    font-family: 'TT Norms Pro';
    font-size: 16px;
    text-transform: uppercase;
    color: $black;
}

.item-models {
    justify-self: end;
}

.my-value {
    display: flex;
}

.my-params-item_model {
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 5px 3px 0px 3px;
    text-align: center;
}

.parameters-color_eyes {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.parameters-color_hair {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

// ---------------------------
.models-page_container {
    display: flex;

    @media(max-width: $mobile-bp) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(2, 1fr);
    }
}

.block-none_mob {
    @media(max-width: $mobile-bp) {
        display: none;
    }
}